TimetablingClientApplication/TimetablingClientApplication/Service References/TimetablingService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49185/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConorFoxProject" />
  <xs:element name="AddStaffAttendentsToEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="staff" nillable="true" type="q1:ArrayOfStaff" />
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStaffAttendentsToEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStaffAttendentsToEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentsToModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="students" nillable="true" type="q2:ArrayOfStudentModule" />
        <xs:element minOccurs="0" name="moduleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentsToModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStudentsToModuleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStaffInvitesToEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="staff" nillable="true" type="q3:ArrayOfStaff" />
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStaffInvitesToEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStaffInvitesToEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentInvitesToEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="students" nillable="true" type="q4:ArrayOfStudent" />
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentInvitesToEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStudentInvitesToEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCoursesModules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCoursesModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnCoursesModulesResult" nillable="true" type="q5:ArrayOfCourseModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventsStaffAttendees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventsStaffAttendeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnEventsStaffAttendeesResult" nillable="true" type="q6:ArrayOfStaffEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventsStudentInvites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventsStudentInvitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnEventsStudentInvitesResult" nillable="true" type="q7:ArrayOfStudentInvite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventsStaffInvites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventsStaffInvitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnEventsStaffInvitesResult" nillable="true" type="q8:ArrayOfStaffInvite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appliedFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchItem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="SearchFunctionResult" nillable="true" type="q9:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRoomFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
        <xs:element minOccurs="0" name="searchItem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRoomFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="SearchRoomFunctionResult" nillable="true" type="q10:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBuildingFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchItem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBuildingFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="SearchBuildingFunctionResult" nillable="true" type="q11:ArrayOfBuilding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCourseFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchItem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCourseFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="SearchCourseFunctionResult" nillable="true" type="q12:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchStaffFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchItem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchStaffFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="SearchStaffFunctionResult" nillable="true" type="q13:ArrayOfStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchStudentFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchItem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchStudentFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="SearchStudentFunctionResult" nillable="true" type="q14:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCourseStudentsFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchItem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCourseStudentsFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="SearchCourseStudentsFunctionResult" nillable="true" type="q15:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCourseModulesFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchItem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCourseModulesFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="SearchCourseModulesFunctionResult" nillable="true" type="q16:ArrayOfModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchModulesFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchItem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchModulesFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="SearchModulesFunctionResult" nillable="true" type="q17:ArrayOfModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEventsWithModulesFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchItem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEventsWithModulesFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="SearchEventsWithModulesFunctionResult" nillable="true" type="q18:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEventsWithRoomsOnlyFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchItem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEventsWithRoomsOnlyFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="SearchEventsWithRoomsOnlyFunctionResult" nillable="true" type="q19:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Encrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unencryptedString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncryptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register_User">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="newUser" nillable="true" type="q20:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register_UserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Register_UserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_Email_Not_Exist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_Email_Not_ExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_Email_Not_ExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="eventDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="repeatType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventDuration" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="eventTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateEventResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editedEventId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="eventTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventDuration" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="eventTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEventStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEventStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeEventStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
        <xs:element minOccurs="0" name="staffId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StaffEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModuleEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
        <xs:element minOccurs="0" name="moduleId" type="xs:int" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModuleEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModuleEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inviteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModuleEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteModuleEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StudentInvite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StudentInviteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentInviteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffInvite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
        <xs:element minOccurs="0" name="staffId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffInviteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StaffInviteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentInvite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inviteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentInviteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStudentInviteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStaffInvite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inviteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStaffInviteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStaffInviteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnWeeksEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="weekBeginning" type="xs:dateTime" />
        <xs:element minOccurs="0" name="roomId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnWeeksEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnWeeksEventsResult" nillable="true" type="q21:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnWeeksEventsWithFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateRequested" type="xs:dateTime" />
        <xs:element minOccurs="0" name="roomId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnWeeksEventsWithFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnWeeksEventsWithFiltersResult" nillable="true" type="q22:TimetableEventsListObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnWeeksEventsForCourses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateRequested" type="xs:dateTime" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnWeeksEventsForCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnWeeksEventsForCoursesResult" nillable="true" type="q23:TimetableEventsListObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnTimetableToolListObject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnTimetableToolListObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnTimetableToolListObjectResult" nillable="true" type="q24:TimetableDisplayListObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnEventsResult" nillable="true" type="q25:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnEventTypesResult" nillable="true" type="q26:ArrayOfEventType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnRoomTypesResult" nillable="true" type="q27:ArrayOfRoomType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuildings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuildingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnBuildingsResult" nillable="true" type="q28:ArrayOfBuilding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnCoursesResult" nillable="true" type="q29:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnModules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnModulesResult" nillable="true" type="q30:ArrayOfModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnTimes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnTimesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnTimesResult" nillable="true" type="q31:ArrayOfTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRepeatTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRepeatTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnRepeatTypesResult" nillable="true" type="q32:ArrayOfRepeatType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnStaff">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnStaffResult" nillable="true" type="q33:ArrayOfStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnStudentsResult" nillable="true" type="q34:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventsWithModules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventsWithModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnEventsWithModulesResult" nillable="true" type="q35:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventsWithRooms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventsWithRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnEventsWithRoomsResult" nillable="true" type="q36:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventsWithRoomsNoModules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventsWithRoomsNoModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnEventsWithRoomsNoModulesResult" nillable="true" type="q37:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnEventStaffResult" nillable="true" type="q38:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuildingIdFromBuildingName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuildingIdFromBuildingNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnBuildingIdFromBuildingNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuildingRooms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuildingRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnBuildingRoomsResult" nillable="true" type="q39:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuildingEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuildingEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnBuildingEventsResult" nillable="true" type="q40:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomTypeIdFromTypeName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomTypeIdFromTypeNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnRoomTypeIdFromTypeNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnRoomIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomBuilding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomBuildingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnRoomBuildingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomName" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnRoomEventsResult" nillable="true" type="q41:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCourseIdFromCourseName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCourseIdFromCourseNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnCourseIdFromCourseNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCourseStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCourseStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnCourseStaffResult" nillable="true" type="q42:ArrayOfStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCourseModules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCourseModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnCourseModulesResult" nillable="true" type="q43:ArrayOfModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCourseStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCourseStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnCourseStudentsResult" nillable="true" type="q44:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnModuleIdFromModuleName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnModuleIdFromModuleNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnModuleIdFromModuleNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnModuleStudentsNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnModuleStudentsNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnModuleStudentsNumbersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnModuleStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnModuleStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnModuleStudentsResult" nillable="true" type="q45:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBuildingExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBuildingExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckBuildingExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRoomExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRoomExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckRoomExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCourseExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCourseExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckCourseExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckModuleExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckModuleExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckModuleExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStaffExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStaffExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckStaffExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_Staff_Email_Exists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_Staff_Email_ExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_Staff_Email_ExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStudentExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStudentExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckStudentExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_Student_Email_Exists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_Student_Email_ExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_Student_Email_ExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewBuilding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildingNumber" type="xs:int" />
        <xs:element minOccurs="0" name="addressLine1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addressLine2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildingCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creatorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewBuildingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewBuildingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomCapacity" type="xs:int" />
        <xs:element minOccurs="0" name="roomTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="creatorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewRoomResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creatorId" type="xs:int" />
        <xs:element minOccurs="0" name="duration" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCourseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="moduleDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creatorId" type="xs:int" />
        <xs:element minOccurs="0" name="staffId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateModuleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="staffForename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="staffSurname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="staffEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="staffPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
        <xs:element minOccurs="0" name="creatorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateStaffResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studenttitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="studentForeame" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="studentSurname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="studentEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="studentPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
        <xs:element minOccurs="0" name="yearStarted" type="xs:int" />
        <xs:element minOccurs="0" name="creatorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateStudentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewRoomType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomTypeDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creatorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewRoomTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewRoomTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewRepeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="repeatTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="repeatTypeDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewRepeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewRepeatResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="settingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="settingDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSettingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnEventDetailsResult" nillable="true" type="q46:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuildingDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuildingDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnBuildingDetailResult" nillable="true" type="q47:Building" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnRoomDetailResult" nillable="true" type="q48:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCourseDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCourseDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnCourseDetailResult" nillable="true" type="q49:Course" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnModuleDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnModuleDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnModuleDetailResult" nillable="true" type="q50:Module" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnStaffDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnStaffDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnStaffDetailResult" nillable="true" type="q51:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnStudentDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnStudentDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnStudentDetailResult" nillable="true" type="q52:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" type="xs:int" />
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomCapacity" type="xs:int" />
        <xs:element minOccurs="0" name="roomTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="creatorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditRoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBuilding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
        <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildingNumber" type="xs:int" />
        <xs:element minOccurs="0" name="buildingAddress1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildingAddress2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBuildingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditBuildingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
        <xs:element minOccurs="0" name="courseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseDuration" type="xs:int" />
        <xs:element minOccurs="0" name="courseDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffId" type="xs:int" />
        <xs:element minOccurs="0" name="staffTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="staffForename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="staffSurname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="staffEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="staffPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditStaffResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
        <xs:element minOccurs="0" name="studenttitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="studentForeame" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="studentSurname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="studentEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="studentPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
        <xs:element minOccurs="0" name="yearStarted" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBuilding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBuildingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBuildingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteModuleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStaffResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModulesToCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="modules" nillable="true" type="q53:ArrayOfModule" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModulesToCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddModulesToCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModulesToEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="modules" nillable="true" type="q54:ArrayOfCourseModule" />
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModulesToEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddModulesToEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>