TimetablingClientApplication/TimetablingClientApplication/Service References/TimetablingService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49185/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConorFoxProject" />
  <xs:element name="Check_Email_Not_Exist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_Email_Not_ExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_Email_Not_ExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register_User">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="newUser" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register_UserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Register_UserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="eventDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="repeatType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventDuration" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="eventTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateEventResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editedEventId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="eventTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="repeatType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventDuration" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="eventTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnWeeksEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="weekBeginning" type="xs:dateTime" />
        <xs:element minOccurs="0" name="roomId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnWeeksEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnWeeksEventsResult" nillable="true" type="q2:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnEventsResult" nillable="true" type="q3:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEventTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnEventTypesResult" nillable="true" type="q4:ArrayOfEventType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnUserTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnUserTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnUserTypesResult" nillable="true" type="q5:ArrayOfUserType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnRoomTypesResult" nillable="true" type="q6:ArrayOfRoomType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuildings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuildingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnBuildingsResult" nillable="true" type="q7:ArrayOfBuilding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnCoursesResult" nillable="true" type="q8:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCourseModules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCourseModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnCourseModulesResult" nillable="true" type="q9:ArrayOfModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuildingIdFromBuildingName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuildingIdFromBuildingNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnBuildingIdFromBuildingNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCourseIdFromCourseName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCourseIdFromCourseNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnCourseIdFromCourseNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnRoomIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuildingRooms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuildingRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnBuildingRoomsResult" nillable="true" type="q10:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomBuilding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomBuildingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnRoomBuildingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoomName" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRoomEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnRoomEventsResult" nillable="true" type="q11:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnTimes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnTimesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnTimesResult" nillable="true" type="q12:ArrayOfTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRepeatTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRepeatTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="ReturnRepeatTypesResult" nillable="true" type="q13:ArrayOfRepeatType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewBuilding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildingNumber" type="xs:int" />
        <xs:element minOccurs="0" name="addressLine1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addressLine2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildingCity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewBuildingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewBuildingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewRoomResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewRoomType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomTypeDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewRoomTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewRoomTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewRepeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="repeatTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="repeatTypeDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewRepeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewRepeatResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="settingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="settingDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSettingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appliedFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchItem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ConorFoxProject" minOccurs="0" name="SearchFunctionResult" nillable="true" type="q14:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>