TimetablingClientApplication/TimetablingClientApplication/Service References/TimetablingService/TimetablingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TimetablingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49185/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49185/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49185/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConorFoxProject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITimetablingService_Encrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:Encrypt" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_Encrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncryptResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_Register_User_InputMessage">
    <wsdl:part name="parameters" element="tns:Register_User" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_Register_User_OutputMessage">
    <wsdl:part name="parameters" element="tns:Register_UserResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_Check_Email_Not_Exist_InputMessage">
    <wsdl:part name="parameters" element="tns:Check_Email_Not_Exist" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_Check_Email_Not_Exist_OutputMessage">
    <wsdl:part name="parameters" element="tns:Check_Email_Not_ExistResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEvent" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEventResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_EditEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEvent" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_EditEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEventResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEvent" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_StudentEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:StudentEvent" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_StudentEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudentEventResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_StaffEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:StaffEvent" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_StaffEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:StaffEventResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ModuleEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:ModuleEvent" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ModuleEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModuleEventResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteStudentEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentEvent" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteStudentEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentEventResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteStaffEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaffEvent" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteStaffEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaffEventResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteModuleEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteModuleEvent" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteModuleEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteModuleEventResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_StudentInvite_InputMessage">
    <wsdl:part name="parameters" element="tns:StudentInvite" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_StudentInvite_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudentInviteResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_StaffInvite_InputMessage">
    <wsdl:part name="parameters" element="tns:StaffInvite" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_StaffInvite_OutputMessage">
    <wsdl:part name="parameters" element="tns:StaffInviteResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteStudentInvite_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentInvite" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteStudentInvite_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentInviteResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteStaffInvite_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaffInvite" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteStaffInvite_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaffInviteResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnWeeksEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnWeeksEvents" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnWeeksEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnWeeksEventsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnWeeksEventsWithFilters_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnWeeksEventsWithFilters" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnWeeksEventsWithFilters_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnWeeksEventsWithFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnTimetableToolListObject_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnTimetableToolListObject" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnTimetableToolListObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnTimetableToolListObjectResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnEvents" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnEventsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnEventTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnEventTypes" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnEventTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnEventTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnRoomTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnRoomTypes" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnRoomTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnRoomTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnBuildings_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBuildings" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnBuildings_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBuildingsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCourses" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnCourseModules_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCourseModules" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnCourseModules_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCourseModulesResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnBuildingIdFromBuildingName_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBuildingIdFromBuildingName" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnBuildingIdFromBuildingName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBuildingIdFromBuildingNameResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnRoomTypeIdFromTypeName_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnRoomTypeIdFromTypeName" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnRoomTypeIdFromTypeName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnRoomTypeIdFromTypeNameResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnCourseIdFromCourseName_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCourseIdFromCourseName" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnCourseIdFromCourseName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCourseIdFromCourseNameResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnRoomId_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnRoomId" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnRoomId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnRoomIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnBuildingRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBuildingRooms" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnBuildingRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBuildingRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnRoomBuilding_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnRoomBuilding" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnRoomBuilding_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnRoomBuildingResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnRoomEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnRoomEvents" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnRoomEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnRoomEventsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnBuildingEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBuildingEvents" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnBuildingEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBuildingEventsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnTimes_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnTimes" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnTimes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnTimesResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnRepeatTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnRepeatTypes" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnRepeatTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnRepeatTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnStaff" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnStaffResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnStudents" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CheckBuildingExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckBuildingExists" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CheckBuildingExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckBuildingExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateNewBuilding_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewBuilding" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateNewBuilding_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewBuildingResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnBuildingDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBuildingDetail" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnBuildingDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBuildingDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CheckRoomExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckRoomExists" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CheckRoomExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckRoomExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateNewRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewRoom" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateNewRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewRoomResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnRoomDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnRoomDetail" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnRoomDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnRoomDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CheckCourseExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckCourseExists" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CheckCourseExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckCourseExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCourse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnCourseDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCourseDetail" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnCourseDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCourseDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CheckModuleExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckModuleExists" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CheckModuleExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckModuleExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateModule_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateModule" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateModule_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateModuleResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnModuleDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnModuleDetail" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_ReturnModuleDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnModuleDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStaff" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStaffResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStudent" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateNewRoomType_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewRoomType" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateNewRoomType_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewRoomTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateNewRepeat_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewRepeat" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateNewRepeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewRepeatResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateSetting_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSetting" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_CreateSetting_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSettingResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_EditRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:EditRoom" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_EditRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditRoomResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_EditBuilding_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBuilding" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_EditBuilding_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBuildingResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_EditCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCourse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_EditCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_EditStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:EditStaff" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_EditStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditStaffResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_EditStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:EditStudent" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_EditStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoom" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoomResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteBuilding_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBuilding" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteBuilding_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBuildingResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCourse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteModule_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteModule" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteModule_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteModuleResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaff" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaffResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_SearchFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchFunction" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_SearchFunction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_SearchRoomFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchRoomFunction" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_SearchRoomFunction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchRoomFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_SearchBuildingFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchBuildingFunction" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_SearchBuildingFunction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchBuildingFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_SearchCourseFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCourseFunction" />
  </wsdl:message>
  <wsdl:message name="ITimetablingService_SearchCourseFunction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCourseFunctionResponse" />
  </wsdl:message>
  <wsdl:portType name="ITimetablingService">
    <wsdl:operation name="Encrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/Encrypt" message="tns:ITimetablingService_Encrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/EncryptResponse" message="tns:ITimetablingService_Encrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register_User">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/Register_User" message="tns:ITimetablingService_Register_User_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/Register_UserResponse" message="tns:ITimetablingService_Register_User_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Check_Email_Not_Exist">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/Check_Email_Not_Exist" message="tns:ITimetablingService_Check_Email_Not_Exist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/Check_Email_Not_ExistResponse" message="tns:ITimetablingService_Check_Email_Not_Exist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/Login" message="tns:ITimetablingService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/LoginResponse" message="tns:ITimetablingService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/CreateEvent" message="tns:ITimetablingService_CreateEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/CreateEventResponse" message="tns:ITimetablingService_CreateEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/EditEvent" message="tns:ITimetablingService_EditEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/EditEventResponse" message="tns:ITimetablingService_EditEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/DeleteEvent" message="tns:ITimetablingService_DeleteEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/DeleteEventResponse" message="tns:ITimetablingService_DeleteEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudentEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/StudentEvent" message="tns:ITimetablingService_StudentEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/StudentEventResponse" message="tns:ITimetablingService_StudentEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StaffEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/StaffEvent" message="tns:ITimetablingService_StaffEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/StaffEventResponse" message="tns:ITimetablingService_StaffEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModuleEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ModuleEvent" message="tns:ITimetablingService_ModuleEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ModuleEventResponse" message="tns:ITimetablingService_ModuleEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudentEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/DeleteStudentEvent" message="tns:ITimetablingService_DeleteStudentEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/DeleteStudentEventResponse" message="tns:ITimetablingService_DeleteStudentEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStaffEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/DeleteStaffEvent" message="tns:ITimetablingService_DeleteStaffEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/DeleteStaffEventResponse" message="tns:ITimetablingService_DeleteStaffEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteModuleEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/DeleteModuleEvent" message="tns:ITimetablingService_DeleteModuleEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/DeleteModuleEventResponse" message="tns:ITimetablingService_DeleteModuleEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudentInvite">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/StudentInvite" message="tns:ITimetablingService_StudentInvite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/StudentInviteResponse" message="tns:ITimetablingService_StudentInvite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StaffInvite">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/StaffInvite" message="tns:ITimetablingService_StaffInvite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/StaffInviteResponse" message="tns:ITimetablingService_StaffInvite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudentInvite">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/DeleteStudentInvite" message="tns:ITimetablingService_DeleteStudentInvite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/DeleteStudentInviteResponse" message="tns:ITimetablingService_DeleteStudentInvite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStaffInvite">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/DeleteStaffInvite" message="tns:ITimetablingService_DeleteStaffInvite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/DeleteStaffInviteResponse" message="tns:ITimetablingService_DeleteStaffInvite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnWeeksEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnWeeksEvents" message="tns:ITimetablingService_ReturnWeeksEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnWeeksEventsResponse" message="tns:ITimetablingService_ReturnWeeksEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnWeeksEventsWithFilters">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnWeeksEventsWithFilters" message="tns:ITimetablingService_ReturnWeeksEventsWithFilters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnWeeksEventsWithFiltersResponse" message="tns:ITimetablingService_ReturnWeeksEventsWithFilters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnTimetableToolListObject">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnTimetableToolListObject" message="tns:ITimetablingService_ReturnTimetableToolListObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnTimetableToolListObjectResponse" message="tns:ITimetablingService_ReturnTimetableToolListObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnEvents" message="tns:ITimetablingService_ReturnEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnEventsResponse" message="tns:ITimetablingService_ReturnEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnEventTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnEventTypes" message="tns:ITimetablingService_ReturnEventTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnEventTypesResponse" message="tns:ITimetablingService_ReturnEventTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnRoomTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnRoomTypes" message="tns:ITimetablingService_ReturnRoomTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnRoomTypesResponse" message="tns:ITimetablingService_ReturnRoomTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBuildings">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnBuildings" message="tns:ITimetablingService_ReturnBuildings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnBuildingsResponse" message="tns:ITimetablingService_ReturnBuildings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnCourses" message="tns:ITimetablingService_ReturnCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnCoursesResponse" message="tns:ITimetablingService_ReturnCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCourseModules">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnCourseModules" message="tns:ITimetablingService_ReturnCourseModules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnCourseModulesResponse" message="tns:ITimetablingService_ReturnCourseModules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBuildingIdFromBuildingName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnBuildingIdFromBuildingName" message="tns:ITimetablingService_ReturnBuildingIdFromBuildingName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnBuildingIdFromBuildingNameResponse" message="tns:ITimetablingService_ReturnBuildingIdFromBuildingName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnRoomTypeIdFromTypeName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnRoomTypeIdFromTypeName" message="tns:ITimetablingService_ReturnRoomTypeIdFromTypeName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnRoomTypeIdFromTypeNameResponse" message="tns:ITimetablingService_ReturnRoomTypeIdFromTypeName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCourseIdFromCourseName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnCourseIdFromCourseName" message="tns:ITimetablingService_ReturnCourseIdFromCourseName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnCourseIdFromCourseNameResponse" message="tns:ITimetablingService_ReturnCourseIdFromCourseName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnRoomId">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnRoomId" message="tns:ITimetablingService_ReturnRoomId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnRoomIdResponse" message="tns:ITimetablingService_ReturnRoomId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBuildingRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnBuildingRooms" message="tns:ITimetablingService_ReturnBuildingRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnBuildingRoomsResponse" message="tns:ITimetablingService_ReturnBuildingRooms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnRoomBuilding">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnRoomBuilding" message="tns:ITimetablingService_ReturnRoomBuilding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnRoomBuildingResponse" message="tns:ITimetablingService_ReturnRoomBuilding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnRoomEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnRoomEvents" message="tns:ITimetablingService_ReturnRoomEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnRoomEventsResponse" message="tns:ITimetablingService_ReturnRoomEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBuildingEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnBuildingEvents" message="tns:ITimetablingService_ReturnBuildingEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnBuildingEventsResponse" message="tns:ITimetablingService_ReturnBuildingEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnTimes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnTimes" message="tns:ITimetablingService_ReturnTimes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnTimesResponse" message="tns:ITimetablingService_ReturnTimes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnRepeatTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnRepeatTypes" message="tns:ITimetablingService_ReturnRepeatTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnRepeatTypesResponse" message="tns:ITimetablingService_ReturnRepeatTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnStaff" message="tns:ITimetablingService_ReturnStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnStaffResponse" message="tns:ITimetablingService_ReturnStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnStudents" message="tns:ITimetablingService_ReturnStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnStudentsResponse" message="tns:ITimetablingService_ReturnStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckBuildingExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/CheckBuildingExists" message="tns:ITimetablingService_CheckBuildingExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/CheckBuildingExistsResponse" message="tns:ITimetablingService_CheckBuildingExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewBuilding">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/CreateNewBuilding" message="tns:ITimetablingService_CreateNewBuilding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/CreateNewBuildingResponse" message="tns:ITimetablingService_CreateNewBuilding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBuildingDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnBuildingDetail" message="tns:ITimetablingService_ReturnBuildingDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnBuildingDetailResponse" message="tns:ITimetablingService_ReturnBuildingDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckRoomExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/CheckRoomExists" message="tns:ITimetablingService_CheckRoomExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/CheckRoomExistsResponse" message="tns:ITimetablingService_CheckRoomExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/CreateNewRoom" message="tns:ITimetablingService_CreateNewRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/CreateNewRoomResponse" message="tns:ITimetablingService_CreateNewRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnRoomDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnRoomDetail" message="tns:ITimetablingService_ReturnRoomDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnRoomDetailResponse" message="tns:ITimetablingService_ReturnRoomDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckCourseExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/CheckCourseExists" message="tns:ITimetablingService_CheckCourseExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/CheckCourseExistsResponse" message="tns:ITimetablingService_CheckCourseExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/CreateCourse" message="tns:ITimetablingService_CreateCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/CreateCourseResponse" message="tns:ITimetablingService_CreateCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCourseDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnCourseDetail" message="tns:ITimetablingService_ReturnCourseDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnCourseDetailResponse" message="tns:ITimetablingService_ReturnCourseDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckModuleExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/CheckModuleExists" message="tns:ITimetablingService_CheckModuleExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/CheckModuleExistsResponse" message="tns:ITimetablingService_CheckModuleExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateModule">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/CreateModule" message="tns:ITimetablingService_CreateModule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/CreateModuleResponse" message="tns:ITimetablingService_CreateModule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnModuleDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/ReturnModuleDetail" message="tns:ITimetablingService_ReturnModuleDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/ReturnModuleDetailResponse" message="tns:ITimetablingService_ReturnModuleDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/CreateStaff" message="tns:ITimetablingService_CreateStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/CreateStaffResponse" message="tns:ITimetablingService_CreateStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/CreateStudent" message="tns:ITimetablingService_CreateStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/CreateStudentResponse" message="tns:ITimetablingService_CreateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewRoomType">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/CreateNewRoomType" message="tns:ITimetablingService_CreateNewRoomType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/CreateNewRoomTypeResponse" message="tns:ITimetablingService_CreateNewRoomType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewRepeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/CreateNewRepeat" message="tns:ITimetablingService_CreateNewRepeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/CreateNewRepeatResponse" message="tns:ITimetablingService_CreateNewRepeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSetting">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/CreateSetting" message="tns:ITimetablingService_CreateSetting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/CreateSettingResponse" message="tns:ITimetablingService_CreateSetting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/EditRoom" message="tns:ITimetablingService_EditRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/EditRoomResponse" message="tns:ITimetablingService_EditRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBuilding">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/EditBuilding" message="tns:ITimetablingService_EditBuilding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/EditBuildingResponse" message="tns:ITimetablingService_EditBuilding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/EditCourse" message="tns:ITimetablingService_EditCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/EditCourseResponse" message="tns:ITimetablingService_EditCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/EditStaff" message="tns:ITimetablingService_EditStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/EditStaffResponse" message="tns:ITimetablingService_EditStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/EditStudent" message="tns:ITimetablingService_EditStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/EditStudentResponse" message="tns:ITimetablingService_EditStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/DeleteRoom" message="tns:ITimetablingService_DeleteRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/DeleteRoomResponse" message="tns:ITimetablingService_DeleteRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBuilding">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/DeleteBuilding" message="tns:ITimetablingService_DeleteBuilding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/DeleteBuildingResponse" message="tns:ITimetablingService_DeleteBuilding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/DeleteCourse" message="tns:ITimetablingService_DeleteCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/DeleteCourseResponse" message="tns:ITimetablingService_DeleteCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteModule">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/DeleteModule" message="tns:ITimetablingService_DeleteModule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/DeleteModuleResponse" message="tns:ITimetablingService_DeleteModule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/DeleteStaff" message="tns:ITimetablingService_DeleteStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/DeleteStaffResponse" message="tns:ITimetablingService_DeleteStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/DeleteStudent" message="tns:ITimetablingService_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/DeleteStudentResponse" message="tns:ITimetablingService_DeleteStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/DeleteUser" message="tns:ITimetablingService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/DeleteUserResponse" message="tns:ITimetablingService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchFunction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/SearchFunction" message="tns:ITimetablingService_SearchFunction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/SearchFunctionResponse" message="tns:ITimetablingService_SearchFunction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchRoomFunction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/SearchRoomFunction" message="tns:ITimetablingService_SearchRoomFunction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/SearchRoomFunctionResponse" message="tns:ITimetablingService_SearchRoomFunction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchBuildingFunction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/SearchBuildingFunction" message="tns:ITimetablingService_SearchBuildingFunction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/SearchBuildingFunctionResponse" message="tns:ITimetablingService_SearchBuildingFunction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCourseFunction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetablingService/SearchCourseFunction" message="tns:ITimetablingService_SearchCourseFunction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetablingService/SearchCourseFunctionResponse" message="tns:ITimetablingService_SearchCourseFunction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITimetablingService" type="tns:ITimetablingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Encrypt">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/Encrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register_User">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/Register_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check_Email_Not_Exist">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/Check_Email_Not_Exist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/CreateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEvent">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/EditEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/DeleteEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentEvent">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/StudentEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StaffEvent">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/StaffEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModuleEvent">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ModuleEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudentEvent">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/DeleteStudentEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStaffEvent">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/DeleteStaffEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteModuleEvent">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/DeleteModuleEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentInvite">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/StudentInvite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StaffInvite">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/StaffInvite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudentInvite">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/DeleteStudentInvite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStaffInvite">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/DeleteStaffInvite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnWeeksEvents">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnWeeksEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnWeeksEventsWithFilters">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnWeeksEventsWithFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnTimetableToolListObject">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnTimetableToolListObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnEvents">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnEventTypes">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnEventTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnRoomTypes">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnRoomTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBuildings">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnBuildings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCourses">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCourseModules">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnCourseModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBuildingIdFromBuildingName">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnBuildingIdFromBuildingName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnRoomTypeIdFromTypeName">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnRoomTypeIdFromTypeName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCourseIdFromCourseName">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnCourseIdFromCourseName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnRoomId">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnRoomId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBuildingRooms">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnBuildingRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnRoomBuilding">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnRoomBuilding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnRoomEvents">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnRoomEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBuildingEvents">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnBuildingEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnTimes">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnTimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnRepeatTypes">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnRepeatTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnStaff">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnStudents">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckBuildingExists">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/CheckBuildingExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewBuilding">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/CreateNewBuilding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBuildingDetail">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnBuildingDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRoomExists">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/CheckRoomExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewRoom">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/CreateNewRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnRoomDetail">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnRoomDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCourseExists">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/CheckCourseExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCourse">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/CreateCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCourseDetail">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnCourseDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckModuleExists">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/CheckModuleExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateModule">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/CreateModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnModuleDetail">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/ReturnModuleDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStaff">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/CreateStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStudent">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/CreateStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewRoomType">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/CreateNewRoomType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewRepeat">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/CreateNewRepeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSetting">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/CreateSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRoom">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/EditRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBuilding">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/EditBuilding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCourse">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/EditCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditStaff">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/EditStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditStudent">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/EditStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/DeleteRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBuilding">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/DeleteBuilding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/DeleteCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteModule">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/DeleteModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStaff">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/DeleteStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFunction">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/SearchFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchRoomFunction">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/SearchRoomFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBuildingFunction">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/SearchBuildingFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCourseFunction">
      <soap:operation soapAction="http://tempuri.org/ITimetablingService/SearchCourseFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimetablingService">
    <wsdl:port name="BasicHttpBinding_ITimetablingService" binding="tns:BasicHttpBinding_ITimetablingService">
      <soap:address location="http://localhost:49185/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>